
@{
    ViewBag.Title = "MongoDBCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@ViewBag.Message</h1>
    <code>
        <ul>
            <li>Connect MongoDB</li>
            <li>Get List of DB</li>
            <li>Get Sample Data</li>

        </ul>
    </code>
    <br />
    <p>@ViewBag.Result</p>
</div>

