
@{
    ViewBag.Title = "SQLCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@ViewBag.Message</h1>
    <br />
    <code>
        <ul>
        <li>Connect to MS SQL</li>
        <br />
        <li>Get Agent Data from the Table</li>
            </ul>
    </code>
    <br /><br />
</div>

