
@{
    ViewBag.Title = "WCFCall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@ViewBag.Message</h1>

    <br />
    <code>
        <ul>
            <li>Connect MS SQL</li>
            <br />
            <li>Get data</li>
            <br />
            <li>Update Data</li>
        </ul>
    </code>
    <br /><br />
</div>
