
@{
    ViewBag.Title = "WebAPICall";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>@ViewBag.Message</h1>
</div>

<br />
<ul>
    <li><a href="../api/Values/">GET Data</a></li>
    <br />
    <li><a href="../api/Values/1">GET Data By Id</a></li>
</ul>